.new {
    display: flex;
    flex-direction: row;
    width: 900px;
}
.img-container {
    margin: auto;
}
h3 {
    color: green
    ;
}
.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content > span {
    color: #707070;
}
#root {
    font-family: Tofino, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}